@charset "UTF-8";

.o-row::after,
.o-wrapper::after,
.u-clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.u-visually-hidden,
.u-focusable {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

article,
aside,
figcaption,
figure,
footer,
header,
legend,
main,
nav,
section {
  display: block;
}

audio,
canvas,
label,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  vertical-align: middle;
}

img {
  height: auto;
  max-width: 100%;
  border: 0;
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

progress {
  vertical-align: baseline;
}

iframe {
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
select {
  text-transform: none;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input::-moz-placeholder {
  opacity: 1;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  margin: 4px 0 0;
  line-height: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
  padding: 0;
  vertical-align: top;
}

button {
  overflow: visible;
}

table {
  max-width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
}

a {
  background: transparent;
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

h1 {
  margin: 0.7em 0;
  font-size: 2em;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 85%;
}

sub,
sup {
  position: relative;
  font-size: 80%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.25em;
}

sub {
  bottom: -0.25em;
}

dfn {
  font-style: italic;
}

abbr[title] {
  border-bottom: 1px dotted;
}

mark {
  color: #000;
  background: #ff0;
}

blockquote:before,
blockquote:after {
  content: '';
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.1em 0.3em;
  font-size: 0.8em;
}

pre {
  overflow: auto;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

::-moz-selection {
  background: #de001e;
  color: #fff;
}

::selection {
  background: #de001e;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #000032;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

ul {
  list-style: disc outside;
}

li > ul,
li > ol {
  margin-left: 1.92;
  margin-bottom: 0;
}

html {
  line-height: 1.6;
  padding: 0;
  background-color: #000032;
  color: #000032;
  font-family: "Arial", sans-serif;
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
}

blockquote {
  quotes: '“' '”';
}

.o-row {
  overflow: hidden;
  margin-bottom: 1.25em;
}

.o-row.-small {
  margin-bottom: 1.25em;
}

.o-row.-large {
  margin-bottom: 1.875em;
}

.o-faux-row {
  padding-top: 1.25em;
}

.o-faux-row.-small {
  padding-top: 1.25em;
}

.o-faux-row.-large {
  padding-top: 1.875em;
}

.o-wrapper {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 38.75em;
  position: relative;
  padding-right: 5%;
  padding-left: 5%;
}

.c-footer {
  padding: 2em 0;
  background: #000032;
  color: #f7f6f4;
  text-align: center;
}

.c-footer__text {
  font-size: 0.875em;
  margin: 0;
}

.c-footer__text a {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #f7f6f4;
  border-bottom: solid 0.08em #f7f6f4;
  text-decoration: none;
}

.c-footer__text a:hover,
.c-footer__text a:focus,
.c-footer__text a:active {
  color: #de001e;
  border-bottom-color: #de001e;
}

.c-header {
  padding: 1.2em 0;
  background: #f7f6f4;
}

.c-heading-a,
.c-heading-b,
.c-heading-c {
  word-wrap: break-word;
}

.c-heading-a a,
.c-heading-b a,
.c-heading-c a {
  color: #000032;
  text-decoration: none;
}

.c-heading-a a:hover,
.c-heading-b a:hover,
.c-heading-c a:hover,
.c-heading-a a:focus,
.c-heading-b a:focus,
.c-heading-c a:focus,
.c-heading-a a:active,
.c-heading-b a:active,
.c-heading-c a:active {
  text-decoration: underline;
}

.c-bookmark
  .c-heading-a,
.c-bookmark
  .c-heading-b,
.c-bookmark
  .c-heading-c {
  overflow: hidden;
}

.c-bookmark:hover
  .c-heading-a,
.c-bookmark:hover
  .c-heading-b,
.c-bookmark:hover
  .c-heading-c,
.c-bookmark:focus
  .c-heading-a,
.c-bookmark:focus
  .c-heading-b,
.c-bookmark:focus
  .c-heading-c,
.c-bookmark:active
  .c-heading-a,
.c-bookmark:active
  .c-heading-b,
.c-bookmark:active
  .c-heading-c {
  text-decoration: underline;
}

.c-heading-a {
  font-size: 1.75em;
  line-height: 1.1em;
  margin: 0 0 0.6em;
}

.c-heading-a.-center {
  text-align: center;
  margin: 0 0 0.3em;
}

.c-heading-b {
  font-size: 1.5em;
  line-height: 1.375em;
  margin: 0 0 0.9em;
}

.c-heading-c {
  font-weight: bold;
  font-size: 1.125em;
  margin: 0 0 0.2em;
}

[data-a11y-toggle] {
  cursor: pointer;
}

.c-skip-link {
  background: #1b1b1b;
  color: #f7f6f4;
  text-align: center;
  padding: 1.5em 0;
  display: block;
  text-decoration: none;
  font-weight: bold;
}

.c-skip-link:focus {
  color: #f7f6f4;
}

.c-bookmark {
  text-decoration: none;
  font-weight: normal;
}

.c-bookmark img {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.c-bookmark:hover,
.c-bookmark:focus,
.c-bookmark:active {
  text-decoration: none;
}

.c-bookmark:hover img,
.c-bookmark:focus img,
.c-bookmark:active img {
  opacity: 0.9;
}

.c-logo {
  display: block;
  background-image: url("../images/svg/logo.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0 auto;
  width: 5.75em;
  height: 1.75em;
}

.c-logo__image {
  opacity: 0;
  width: 5.75em;
  height: 1.75em;
}

.c-main {
  padding: 2em 0 4em;
  background: #f7f6f4;
}

.c-body {
  font-size: 0.875em;
  line-height: 1.65;
  text-align: left;
}

.c-body.-center {
  text-align: center;
}

.c-body img,
.c-body .c-media {
  display: block;
  margin: 0 0 1.5em;
}

.c-body video,
.c-body object,
.c-body iframe {
  max-width: 100%;
  margin: 0 0 1.5em;
}

.c-body a {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #de001e;
  border-bottom: solid 0.08em #de001e;
  text-decoration: none;
}

.c-body a:hover,
.c-body a:focus,
.c-body a:active {
  color: #000032;
  border-bottom-color: #000032;
}

.c-body ul,
.c-body ol {
  padding-left: 3em;
  margin-top: 0;
  margin-bottom: 1.6em;
}

.c-body ul:last-child,
.c-body ol:last-child {
  margin: 0;
}

.c-body li {
  padding-left: 0.3em;
}

.c-body table {
  margin-bottom: 1.6em;
}

.c-body h2 {
  font-weight: bold;
  font-size: 1.375em;
  margin: 1.2em 0 0.3em;
}

.c-body h2 + h3 {
  margin-top: 0;
}

.c-body h3 {
  font-weight: bold;
  font-size: 1.125em;
  margin: 1.2em 0 0.3em;
}

.c-body p {
  margin: 0 0 1em;
}

.c-body p:last-child {
  margin: 0;
}

.c-body blockquote {
  position: relative;
  font-size: 1.125em;
  line-height: 1.25em;
  text-align: center;
  margin: 3em 0.5em 1.5em;
}

.c-body blockquote:before {
  position: absolute;
  content: '”';
  font-size: 3.5em;
  line-height: 1em;
  top: -0.5em;
  left: 0;
  right: 0;
}

.c-body *:first-child {
  margin-top: 0;
}

.c-preamble {
  font-size: 1em;
  line-height: 1.65;
  max-width: 34em;
  font-style: italic;
}

.c-preamble a {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #de001e;
  border-bottom: solid 0.08em #de001e;
  text-decoration: none;
}

.c-preamble a:hover,
.c-preamble a:focus,
.c-preamble a:active {
  color: #000032;
  border-bottom-color: #000032;
}

/* Helper to see utility-classes /*
/*[class^="u-"],
[class*=" u-"] {
  outline: 5px solid cyan;
}*/

.u-full {
  clear: both;
  overflow: hidden;
}

.u-center-align {
  text-align: center;
}

.u-center {
  margin-right: auto;
  margin-left: auto;
}

.u-center-vertical {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.u-relative {
  position: relative;
}

.u-first {
  clear: left;
}

.u-overflow-hidden {
  overflow: hidden;
}

.u-relative {
  position: relative;
}

[aria-labelledby^='a11y-toggle'][aria-hidden='false'] {
  max-height: 31.25em;
  /* approximate max height */
  overflow-y: hidden;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

[aria-labelledby^='a11y-toggle'][aria-hidden='true'] {
  max-height: 0 !important;
  overflow-y: hidden;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

[data-a11y-toggle]:not([aria-controls]) {
  display: none;
}

.is-tabbed {
  outline: 2px solid #000032;
  outline-offset: -2px !important;
}

.is-tabbed.c-bookmark {
  outline: 0;
}

.is-tabbed.c-bookmark [class^='c-heading'] {
  outline: 2px solid #000032;
  outline-offset: -2px !important;
}

.u-focusable:active,
.u-focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

.u-hidden {
  display: none;
}

@media (min-width: 34.375em) {
  .o-row {
    margin-bottom: 2.5em;
  }

  .o-row.-small {
    margin-bottom: 1.5625em;
  }

  .o-row.-large {
    margin-bottom: 3.75em;
  }

  .o-faux-row {
    padding-top: 2.5em;
  }

  .o-faux-row.-small {
    padding-top: 1.5625em;
  }

  .o-faux-row.-large {
    padding-top: 3.75em;
  }

  .o-wrapper {
    padding-right: 3%;
    padding-left: 3%;
    margin-right: auto;
    margin-left: auto;
  }

  .c-heading-a {
    font-size: 2.5em;
  }

  .c-heading-a.-center {
    font-size: 2.5em;
  }

  .c-logo {
    width: 7.5em;
    height: 2.3125em;
  }

  .c-body {
    font-size: 1em;
  }

  .c-body.-center {
    font-size: 1em;
  }

  .c-preamble {
    font-size: 1.125em;
  }

  .u-left\@medium {
    float: left;
  }
}

@media (min-width: 48em) {
  .o-row {
    margin-bottom: 3.75em;
  }

  .o-row.-small {
    margin-bottom: 1.875em;
  }

  .o-row.-large {
    margin-bottom: 5.625em;
  }

  .o-faux-row {
    padding-top: 3.75em;
  }

  .o-faux-row.-small {
    padding-top: 1.875em;
  }

  .o-faux-row.-large {
    padding-top: 5.625em;
  }

  .c-heading-b {
    font-size: 1.6875em;
    margin: 0 0 1.6em;
  }

  .c-heading-c {
    font-size: 1.25em;
  }

  .c-logo {
    width: 10.6875em;
    height: 3.3125em;
  }

  .c-logo__image {
    width: 10.6875em;
    height: 3.3125em;
  }

  .c-body h2 {
    font-size: 1.4em;
  }

  .c-body h3 {
    font-size: 1.2em;
  }

  .c-body blockquote {
    font-size: 1.28571em;
    line-height: 1.2963em;
  }

  .u-left\@large {
    float: left;
  }

  .u-right\@large {
    float: right;
  }

  .u-last\@large {
    margin-right: 0 !important;
  }

  .u-center\@large {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  .u-clear-none\@large {
    clear: none !important;
  }

  .u-hidden\@large {
    display: none;
  }
}

@media (min-width: 64em) {
  .c-body.-center {
    font-size: 1.125em;
  }

  .c-preamble {
    font-size: 1.375em;
  }

  .u-left\@xlarge {
    float: left;
  }

  .u-right\@xlarge {
    float: right;
  }

  .u-last\@xlarge {
    margin-right: 0;
    clear: right;
  }

  .u-center\@xlarge {
    margin-left: auto;
    margin-right: auto;
  }

  .u-hidden\@xlarge {
    display: none;
  }
}

@media (min-width: 75em) {
  .c-heading-a.-center {
    font-size: 3.25em;
  }
}

@media (max-width: 63.9375em) {
  .u-hidden\@xsmall-xlarge {
    display: none;
  }
}

@media (max-width: 34.3125em) {
  .u-hidden\@xsmall-medium {
    display: none;
  }
}

@media (min-width: 34.375em) and (max-width: 47.9375em) {
  .u-last\@medium-large {
    margin-right: 0 !important;
  }

  .u-left\@medium-large {
    float: left;
  }

  .u-center\@medium-large {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

@media (min-width: 34.375em) and (max-width: 63.9375em) {
  .u-left\@medium-xlarge {
    float: left;
  }

  .u-last\@medium-xlarge {
    margin-right: 0 !important;
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) {
  .u-last\@large-xlarge {
    margin-right: 0 !important;
  }

  .u-center\@large-xlarge {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
/*# sourceMappingURL=../css/maps/screen.css.map */
