.kss-modifier__heading {
  width: 1px;
  height: 1px;
  position: absolute;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

html {
  position: relative;
}

.kss-sidebar {
  padding: 0.6em 1em;
  background: #f7f6f4;
  border-bottom: 2px solid #e6e3dc;
}

.kss-logo {
  max-height: 50px;
  margin: 0 auto;
}

.kss-doc-title {
  font-size: 1.8em;
  line-height: 1.1;
  text-align: center;
}

.kss-main {
  width: 100%;
  padding: 1em;
  margin: 0 auto;
}

.kss-nav__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.kss-nav__menu-child {
  border-top: 2px solid #e6e3dc;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.kss-nav__menu-child .kss-nav__menu-item .kss-nav__menu-link {
  padding-left: 1.8em;
  border-left: 6px solid #e6e3dc;
}

.kss-nav__menu-item {
  display: inline-block;
}

.kss-nav__menu-link {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  display: inline-block;
  padding: 0.2em 0.25em;
  color: currentColor;
}

.kss-nav__menu-link:hover,
.kss-nav__menu-link:focus,
.kss-nav__menu-link:active,
.kss-nav__menu-link.is-in-viewport {
  background: #e6e3dc;
  text-decoration: none;
}

.kss-nav__menu-link:hover .kss-nav__name,
.kss-nav__menu-link:focus .kss-nav__name,
.kss-nav__menu-link:active .kss-nav__name,
.kss-nav__menu-link.is-in-viewport .kss-nav__name {
  text-decoration: underline;
}

.kss-nav__menu-link:hover .kss-nav__ref,
.kss-nav__menu-link:focus .kss-nav__ref,
.kss-nav__menu-link:active .kss-nav__ref,
.kss-nav__menu-link.is-in-viewport .kss-nav__ref {
  text-decoration: none;
  opacity: 0.8;
}

.kss-nav__ref {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  font-weight: bold;
  opacity: 0.2;
  margin-right: 0.3em;
}

.kss-section {
  margin-bottom: 1.75em;
}

.kss-title__permalink:hover,
.kss-title__permalink:focus,
.kss-title__permalink:active {
  text-decoration: none;
}

.kss-title__permalink:hover .kss-title__permalink-hash,
.kss-title__permalink:focus .kss-title__permalink-hash,
.kss-title__permalink:active .kss-title__permalink-hash {
  opacity: 0.6;
}

.kss-title__permalink-hash {
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  opacity: 0;
  margin-left: 0.5em;
  text-decoration: none;
}

.kss-title__ref {
  font-size: 0.4em;
  line-height: 1.6;
  font-weight: bold;
  display: block;
  opacity: 0.6;
  text-decoration: none;
}

.kss-modifier__wrapper,
.kss-markup {
  border: 2px solid #e2ded6;
}

.kss-markup {
  font-size: 1.8em;
}

.kss-modifier {
  border-bottom: 1px solid #e6e3dc;
  padding: 2em;
  position: relative;
  overflow: hidden;
}

.kss-modifier:last-child {
  border-bottom: 0;
}

.kss-modifier__name {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  border-left: 1px solid #e6e3dc;
  border-bottom: 1px solid #e6e3dc;
  padding: 0.5em;
}

.kss-modifier__description {
  font-size: 0.9em;
  font-weight: bold;
  margin: -0.8em 0 1em;
}

.kss-markup__button {
  margin-top: 0.8em;
  background-color: #e6e3dc;
  padding: 0.2em 0.5em;
  border: 0;
}

.kss-source {
  margin: 1em 0;
  display: inline-block;
  padding: 0.2em 0.6em;
  font-size: 0.9em;
}

.kss-colors {
  overflow: hidden;
  float: left;
  margin-right: 1.8em;
}

.kss-color {
  float: left;
  margin-bottom: 1.8em;
}

.kss-color__swatch {
  width: 10em;
  height: 7em;
}

.kss-color__code {
  font-size: 1.8em;
  font-weight: bold;
}

.kss-color__desc {
  margin: 0;
}

.kss-wrapper {
  background: #ddd;
  min-height: 2em;
  text-align: center;
  padding: 0.2em 0;
}

.kss-row {
  overflow: hidden;
  background: #999;
  min-height: 2em;
  text-align: center;
  padding: 0.2em 0;
  color: #fff;
}

.kss-grid {
  overflow: hidden;
  background: #666;
  min-height: 2em;
  padding: 0.2em 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

[class^="kss-icon"] {
  width: 2.25em;
  height: 2.25em;
  margin: 0 1em 1em 0;
}

[class^="kss-icon"]:after {
  content: attr(data-kss);
  display: inline-block;
}

.kss-icon--fill {
  fill: #666;
}

.kss-icon--stroke {
  stroke: #666;
}

.c-body p:last-child {
  margin-bottom: 1.6em !important;
}

@media (min-width: 48em) {
  .kss-sidebar {
    position: fixed;
    width: 20%;
    height: 100%;
    overflow: auto;
    padding: 1.5em 0 0;
    border-right: 2px solid #e6e3dc;
    border-bottom: 0;
  }

  .kss-header {
    padding: 0 1.5em;
  }

  .kss-main {
    width: 80%;
    margin-left: 20%;
    padding: 2em;
  }

  .kss-nav__menu {
    border-bottom: 2px solid #e6e3dc;
    text-align: left;
  }

  .kss-nav__menu-child {
    display: block;
  }

  .kss-nav__menu-item {
    display: block;
    border-bottom: 2px solid #ebebeb;
  }

  .kss-nav__menu-item:last-child {
    border: 0;
  }

  .kss-nav__menu-link {
    display: block;
    padding: 0.6em 1em;
  }

  .kss-section {
    margin-bottom: 3.75em;
  }
}
/*# sourceMappingURL=../css/maps/styleguide.css.map */
