<div class="c-preamble">
  <p>Puctor sit amet aliquam vel, ullamcorper sit amet ligula. <a href="#">Link in text</a> in ipsum id orci porta dapibus. Ut lacinia in, elementum id enim.</p>
  <p>Curabitur arcu erat, <a href="#">porttitor</a> et, porttitor at sem. Quisque velit nisi, pretiumut lacinia in, elementum id enim.</p>
</div>
