// Wrapper
//
// Wrappers are used to limit the max-width of an element.
//
// Markup:
// <div class="o-wrapper kss-wrapper">.o-wrapper</div>
//
// Style guide: grid.wrapper
.o-wrapper {
  @extend %clearfix;
  box-sizing: content-box;
  max-width: pxtoem(620);
  position: relative;
  padding-right: 5%;
  padding-left: 5%;

  @include respond-to('medium') {
    padding-right: 3%;
    padding-left: 3%;
    margin-right: auto;
    margin-left: auto;
  }
}
