html {
  line-height: $root-line-height;
  padding: 0;
  background-color: color('blue');
  color: color('blue');
  font-family: $arial;
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
}
